* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background: linear-gradient(to left,#7E308A, #D551EA, #7E308A);
}

header {
    position: relative;
    background-color: #360D3C ;
    height: 5rem;
    padding: 2rem;
    width: 1465px;
    right: 240px;
}
img {   
    display: flex;
    margin: auto;
    width: 400px;
}

.main-logo {
    position: relative;
    bottom: 25px;
    left: 15px;
    height: 70px;
    width: 70px;
}

main {
    margin: 0 auto;
    background-color: #ffffff;
    width: 10vw;
    max-width: 100px;
    padding-bottom: 100px;
}


.title {
    position: relative;
    right: 200px;
    background: #61256A;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 2rem;
    height: 4rem;
    line-height: 4rem;
    width: 64rem;
}
.centro {
    text-align: center;
}
section {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    line-height: 1.5;
    white-space: unset;
}

figure {
    margin: 2em 1em;
}

.continue{
    position: relative;
    right: 350px;
    width: 270px;
    height: 90px;
}





